In [102]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [103]:
# load train data
dataset = pd.read_csv('data/Train_v2.csv')
dataset.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [104]:
# show information about data
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
country                   23524 non-null object
year                      23524 non-null int64
uniqueid                  23524 non-null object
bank_account              23524 non-null object
location_type             23524 non-null object
cellphone_access          23524 non-null object
household_size            23524 non-null int64
age_of_respondent         23524 non-null int64
gender_of_respondent      23524 non-null object
relationship_with_head    23524 non-null object
marital_status            23524 non-null object
education_level           23524 non-null object
job_type                  23524 non-null object
dtypes: int64(3), object(10)
memory usage: 2.3+ MB

In [105]:
# describe data (abstract look)
data.describe()

NameError: name 'data' is not defined

In [106]:
dataset.shape

(23524, 13)

In [107]:
# check if the is a null value in examples
dataset.isnull().sum()

country                   0
year                      0
uniqueid                  0
bank_account              0
location_type             0
cellphone_access          0
household_size            0
age_of_respondent         0
gender_of_respondent      0
relationship_with_head    0
marital_status            0
education_level           0
job_type                  0
dtype: int64

In [108]:
# show columns name
dataset.columns

Index(['country', 'year', 'uniqueid', 'bank_account', 'location_type',
       'cellphone_access', 'household_size', 'age_of_respondent',
       'gender_of_respondent', 'relationship_with_head', 'marital_status',
       'education_level', 'job_type'],
      dtype='object')

In [109]:
for i in dataset.columns:
    print(i, ":", dataset[i].unique())

country : ['Kenya' 'Rwanda' 'Tanzania' 'Uganda']
year : [2018 2016 2017]
uniqueid : ['uniqueid_1' 'uniqueid_2' 'uniqueid_3' ... 'uniqueid_8757'
 'uniqueid_8758' 'uniqueid_8759']
bank_account : ['Yes' 'No']
location_type : ['Rural' 'Urban']
cellphone_access : ['Yes' 'No']
household_size : [ 3  5  8  7  1  6  4 10  2 11  9 12 16 15 13 14 21 18 17 20]
age_of_respondent : [ 24  70  26  34  32  42  54  76  40  69  64  31  38  47  27  48  25  21
  18  22  58  55  62  29  35  45  67  19  80  66  50  33  28  51  16  17
  30  37  59  65  46  56  52  23  43  49  44  72  53  63  39  81  78  36
  20  60  95  71  57  85  68  41  61  75  86  73  93  74  88  90  77  84
  82  89  79  83  94  87  92  91  98  97  96  99 100]
gender_of_respondent : ['Female' 'Male']
relationship_with_head : ['Spouse' 'Head of Household' 'Other relative' 'Child' 'Parent'
 'Other non-relatives']
marital_status : ['Married/Living together' 'Widowed' 'Single/Never Married'
 'Divorced/Seperated' 'Dont know']
education_level : ['Secondary education' 'No formal education'
 'Vocational/Specialised training' 'Primary education'
 'Tertiary education' 'Other/Dont know/RTA']
job_type : ['Self employed' 'Government Dependent' 'Formally employed Private'
 'Informally employed' 'Formally employed Government'
 'Farming and Fishing' 'Remittance Dependent' 'Other Income'
 'Dont Know/Refuse to answer' 'No Income']

In [110]:
# drop "uniqueid" label
dataset = dataset.drop(['uniqueid'] , axis = 1)
dataset

,country,year,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed
5,Kenya,2018,No,Rural,No,7,26,Female,Spouse,Married/Living together,Primary education,Informally employed
6,Kenya,2018,No,Rural,Yes,7,32,Female,Spouse,Married/Living together,Primary education,Self employed
7,Kenya,2018,No,Rural,Yes,1,42,Female,Head of Household,Married/Living together,Tertiary education,Formally employed Government
8,Kenya,2018,Yes,Rural,Yes,3,54,Male,Head of Household,Married/Living together,Secondary education,Farming and Fishing
9,Kenya,2018,No,Urban,Yes,3,76,Female,Head of Household,Divorced/Seperated,No formal education,Remittance Dependent
10,Kenya,2018,No,Rural,Yes,5,40,Female,Head of Household,Married/Living together,Secondary education,Farming and Fishing
11,Kenya,2018,Yes,Rural,Yes,3,69,Male,Head of Household,Married/Living together,Secondary education,Other Income
12,Kenya,2018,No,Rural,No,6,64,Female,Head of Household,Widowed,No formal education,Farming and Fishing
13,Kenya,2018,No,Rural,No,8,31,Female,Spouse,Married/Living together,Primary education,Self employed
14,Kenya,2018,No,Urban,Yes,4,26,Male,Head of Household,Married/Living together,Primary education,Informally employed
15,Kenya,2018,No,Rural,Yes,7,38,Male,Head of Household,Married/Living together,Primary education,Informally employed
16,Kenya,2018,No,Urban,Yes,1,47,Female,Head of Household,Married/Living together,Secondary education,Self employed
17,Kenya,2018,Yes,Rural,Yes,6,27,Female,Head of Household,Married/Living together,Secondary education,Self employed
18,Kenya,2018,No,Urban,Yes,1,48,Female,Head of Household,Single/Never Married,Vocational/Specialised training,Formally employed Private
19,Kenya,2018,No,Rural,No,4,25,Female,Spouse,Married/Living together,Primary education,Farming and Fishing
20,Kenya,2018,No,Rural,Yes,4,26,Male,Head of Household,Married/Living together,Primary education,Farming and Fishing
21,Kenya,2018,Yes,Urban,Yes,1,32,Male,Head of Household,Single/Never Married,Vocational/Specialised training,Self employed
22,Kenya,2018,No,Urban,Yes,4,34,Female,Spouse,Married/Living together,Secondary education,Self employed
23,Kenya,2018,No,Rural,Yes,3,21,Female,Spouse,Married/Living together,Secondary education,Informally employed
24,Kenya,2018,No,Urban,No,7,18,Male,Other relative,Single/Never Married,Secondary education,Remittance Dependent
25,Kenya,2018,No,Rural,Yes,5,22,Female,Child,Single/Never Married,Secondary education,Remittance Dependent
26,Kenya,2018,No,Rural,No,8,26,Male,Child,Married/Living together,Primary education,Self employed
27,Kenya,2018,No,Urban,Yes,1,31,Female,Head of Household,Single/Never Married,Primary education,Informally employed
28,Kenya,2018,No,Rural,Yes,4,26,Male,Head of Household,Married/Living together,Primary education,Formally employed Private
29,Kenya,2018,No,Rural,No,7,58,Female,Head of Household,Widowed,No formal education,Remittance Dependent
...,...,...,...,...,...,...,...,...,...,...,...,...
23494,Uganda,2018,No,Urban,Yes,2,25,Female,Spouse,Married/Living together,Secondary education,Other Income
23495,Uganda,2018,No,Urban,No,9,21,Female,Head of Household,Married/Living together,Primary education,Self employed
23496,Uganda,2018,No,Rural,No,1,60,Female,Head of Household,Widowed,No formal education,No Income
23497,Uganda,2018,No,Urban,No,1,74,Female,Head of Household,Widowed,Secondary education,Other Income
23498,Uganda,2018,No,Rural,Yes,6,26,Male,Head of Household,Married/Living together,Secondary education,Self employed
23499,Uganda,2018,No,Urban,No,6,16,Female,Parent,Single/Never Married,Secondary education,No Income
23500,Uganda,2018,No,Urban,No,6,26,Female,Spouse,Married/Living together,Primary education,No Income
23501,Uganda,2018,No,Rural,No,3,22,Female,Spouse,Married/Living together,Secondary education,Self employed
23502,Uganda,2018,No,Urban,Yes,3,17,Female,Parent,Single/Never Married,Vocational/Specialised training,Other Income
23503,Uganda,2018,No,Rural,No,3,40,Female,Head of Household,Divorced/Seperated,Primary education,Self employed
23504,Uganda,2018,No,Urban,Yes,3,24,Female,Spouse,Married/Living together,Vocational/Specialised training,No Income
23505,Uganda,2018,No,Rural,Yes,7,45,Male,Head of Household,Married/Living together,Primary education,Self employed
23506,Uganda,2018,No,Rural,No,7,22,Male,Child,Single/Never Married,Primary education,Self employed
23507,Uganda,2018,No,Rural,No,8,28,Female,Head of Household,Married/Living together,Primary education,Self employed
23508,Uganda,2018,No,Rural,Yes,6,65,Female,Head of Household,Widowed,Primary education,Self employed
23509,Uganda,2018,No,Rural,No,4,20,Female,Spouse,Married/Living together,Primary education,Other Income
23510,Uganda,2018,No,Rural,Yes,4,30,Female,Spouse,Married/Living together,No formal education,Other Income
23511,Uganda,2018,No,Rural,No,6,19,Female,Parent,Single/Never Married,Secondary education,No Income
23512,Uganda,2018,No,Rural,No,2,57,Female,Head of Household,Divorced/Seperated,No formal education,Other Income
23513,Uganda,2018,No,Urban,Yes,7,26,Female,Head of Household,Married/Living together,Secondary education,No Income
23514,Uganda,2018,No,Urban,Yes,6,24,Female,Spouse,Married/Living together,Primary education,Self employed
23515,Uganda,2018,No,Rural,No,6,16,Male,Parent,Single/Never Married,Primary education,Other Income
23516,Uganda,2018,No,Urban,Yes,3,35,Male,Head of Household,Married/Living together,Primary education,Self employed
23517,Uganda,2018,No,Urban,Yes,9,16,Male,Parent,Single/Never Married,Primary education,Other Income
23518,Uganda,2018,No,Rural,Yes,9,20,Female,Child,Single/Never Married,Primary education,No Income
23519,Uganda,2018,No,Rural,Yes,4,48,Female,Head of Household,Divorced/Seperated,No formal education,Other Income
23520,Uganda,2018,No,Rural,Yes,2,27,Female,Head of Household,Single/Never Married,Secondary education,Other Income
23521,Uganda,2018,No,Rural,Yes,5,27,Female,Parent,Widowed,Primary education,Other Income
23522,Uganda,2018,No,Urban,Yes,7,30,Female,Parent,Divorced/Seperated,Secondary education,Self employed
23523,Uganda,2018,No,Rural,Yes,10,20,Male,Child,Single/Never Married,Secondary education,No Income

In [111]:
y = dataset['bank_account'].values
X = dataset.drop(['bank_account'], axis = 1)

## Data Preprocessing

In [112]:
# transform boolean value [Tes, No] to binary value [0, 1]
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y = encoder.fit_transform(y)

In [113]:
# categorize
X = pd.get_dummies(X)
X.head()

,year,household_size,age_of_respondent,country_Kenya,country_Rwanda,country_Tanzania,country_Uganda,location_type_Rural,location_type_Urban,cellphone_access_No,...,job_type_Dont Know/Refuse to answer,job_type_Farming and Fishing,job_type_Formally employed Government,job_type_Formally employed Private,job_type_Government Dependent,job_type_Informally employed,job_type_No Income,job_type_Other Income,job_type_Remittance Dependent,job_type_Self employed
0,2018,3,24,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2018,5,70,1,0,0,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0
2,2018,5,26,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,2018,5,34,1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
4,2018,8,26,1,0,0,0,0,1,1,...,0,0,0,0,0,1,0,0,0,0

In [114]:
# standarise the dataset
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)
X

array([[ 1.20854126, -0.35800673, -0.89618796, ..., -0.21936218,
        -0.34691573,  1.62926285],
       [ 1.20854126,  0.53983446,  1.88827897, ..., -0.21936218,
        -0.34691573, -0.61377451],
       [ 1.20854126,  0.53983446, -0.77512418, ..., -0.21936218,
        -0.34691573,  1.62926285],
       ...,
       [ 1.20854126,  0.53983446, -0.71459229, ...,  4.55867102,
        -0.34691573, -0.61377451],
       [ 1.20854126,  1.43767565, -0.53299662, ..., -0.21936218,
        -0.34691573,  1.62926285],
       [ 1.20854126,  2.78443744, -1.13831551, ..., -0.21936218,
        -0.34691573, -0.61377451]])

In [115]:
# split dataset to train and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 19)

In [116]:
# evaluate the model (using custom loss func)
def evaluate(clf):
    y_pred = clf.predict(x_test)
    diff = np.abs(y_test - y_pred).max()
    print('Score {}'.format(np.log1p(diff)))

In [117]:
# model 1
from sklearn.svm import SVC
svm_svc = SVC(kernel = 'rbf')
svm_svc.fit(x_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [118]:
evaluate(svm_svc)

Score 0.6931471805599453

## Testing Part

In [119]:
# load test dataset file
test_dataset = pd.read_csv("data/Test_v2.csv")
test_dataset.head()

,country,year,uniqueid,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_6056,Urban,Yes,3,30,Male,Head of Household,Married/Living together,Secondary education,Formally employed Government
1,Kenya,2018,uniqueid_6060,Urban,Yes,7,51,Male,Head of Household,Married/Living together,Vocational/Specialised training,Formally employed Private
2,Kenya,2018,uniqueid_6065,Rural,No,3,77,Female,Parent,Married/Living together,No formal education,Remittance Dependent
3,Kenya,2018,uniqueid_6072,Rural,No,6,39,Female,Head of Household,Married/Living together,Primary education,Remittance Dependent
4,Kenya,2018,uniqueid_6073,Urban,No,3,16,Male,Child,Single/Never Married,Secondary education,Remittance Dependent

In [120]:
# get IDs & countries for output result
uniqueids = test_dataset.uniqueid
countries = test_dataset.country

In [121]:
# drop unique id column
test_dataset = test_dataset.drop(['uniqueid'], axis = 1)

In [122]:
test_dataset = pd.get_dummies(test_dataset)
test_dataset.head()

,year,household_size,age_of_respondent,country_Kenya,country_Rwanda,country_Tanzania,country_Uganda,location_type_Rural,location_type_Urban,cellphone_access_No,...,job_type_Dont Know/Refuse to answer,job_type_Farming and Fishing,job_type_Formally employed Government,job_type_Formally employed Private,job_type_Government Dependent,job_type_Informally employed,job_type_No Income,job_type_Other Income,job_type_Remittance Dependent,job_type_Self employed
0,2018,3,30,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
1,2018,7,51,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2,2018,3,77,1,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
3,2018,6,39,1,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
4,2018,3,16,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0

In [133]:
# standarise the test dataset
test_dataset = scaler.fit_transform(test_dataset)

In [134]:
prediction = svm_svc.predict(test_dataset)

In [135]:
# result columns ()
new_unique_id = uniqueids + " x " + countries
result_columns_list = list(zip(new_unique_id, prediction))

In [136]:
result = pd.DataFrame(result_columns_list, columns = ['unique_id', 'bank_account'])

In [137]:
result.describe()

       bank_account
count  10086.000000
mean       0.059687
std        0.236917
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [139]:
# export result
result.to_csv('SubmissionFile.csv', index=False)