In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# load train data
dataset = pd.read_csv('dataset/Train_v2.csv')
dataset.head()

FileNotFoundError: File b'data/Train_v2.csv' does not exist

In [ ]:
# show information about data
dataset.info()

In [ ]:
# describe data (abstract look)
data.describe()

In [ ]:
dataset.shape

In [ ]:
# check if the is a null value in examples
dataset.isnull().sum()

In [ ]:
# show columns name
dataset.columns

In [ ]:
for i in dataset.columns:
    print(i, ":", dataset[i].unique())

In [ ]:
# drop "uniqueid" label
dataset = dataset.drop(['uniqueid'] , axis = 1)
dataset

In [ ]:
y = dataset['bank_account'].values
X = dataset.drop(['bank_account'], axis = 1)

## Data Preprocessing

In [ ]:
# transform boolean value [Tes, No] to binary value [0, 1]
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y = encoder.fit_transform(y)

In [ ]:
# categorize
X = pd.get_dummies(X)
X.head()

In [ ]:
# standarise the dataset
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)
X

In [ ]:
# split dataset to train and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 19)

In [3]:
# evaluate the model (using custom loss func)
def evaluate(clf):
    y_pred = clf.predict(x_test)
    diff = np.abs(y_test - y_pred).max()
    print('Score {}'.format(np.log1p(diff)))

In [4]:
# model 1
from sklearn.svm import SVC
svm_svc = SVC(kernel = 'rbf')
svm_svc.fit(x_train,y_train)

NameError: name 'x_train' is not defined

In [ ]:
evaluate(svm_svc)

## Testing Part

In [ ]:
# load test dataset file
test_dataset = pd.read_csv("data/Test_v2.csv")
test_dataset.head()

In [120]:
# get IDs & countries for output result
uniqueids = test_dataset.uniqueid
countries = test_dataset.country

In [121]:
# drop unique id column
test_dataset = test_dataset.drop(['uniqueid'], axis = 1)

In [122]:
test_dataset = pd.get_dummies(test_dataset)
test_dataset.head()

,year,household_size,age_of_respondent,country_Kenya,country_Rwanda,country_Tanzania,country_Uganda,location_type_Rural,location_type_Urban,cellphone_access_No,...,job_type_Dont Know/Refuse to answer,job_type_Farming and Fishing,job_type_Formally employed Government,job_type_Formally employed Private,job_type_Government Dependent,job_type_Informally employed,job_type_No Income,job_type_Other Income,job_type_Remittance Dependent,job_type_Self employed
0,2018,3,30,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
1,2018,7,51,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2,2018,3,77,1,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
3,2018,6,39,1,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
4,2018,3,16,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0

In [133]:
# standarise the test dataset
test_dataset = scaler.fit_transform(test_dataset)

In [134]:
prediction = svm_svc.predict(test_dataset)

In [135]:
# result columns ()
new_unique_id = uniqueids + " x " + countries
result_columns_list = list(zip(new_unique_id, prediction))

In [136]:
result = pd.DataFrame(result_columns_list, columns = ['unique_id', 'bank_account'])

In [137]:
result.describe()

       bank_account
count  10086.000000
mean       0.059687
std        0.236917
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [139]:
# export result
result.to_csv('SubmissionFile.csv', index=False)